* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /* background: repeating-linear-gradient(
    45deg,
    red,
    red 30px,
    white 30px,
    white 60px
  ); */
  background: #ffc700;
}

header {
  text-align: center;
  background: #1b1b1b;
  font-size: 2.5rem;
  color: #f1f1f1;
  border-bottom: 4px solid black;
  font-weight: 800;
  padding: 0.2em;
}

.App {
  display: flex;
  justify-content: center;
  margin-top: 10ch;
}

.todo-list {
  width: 700px;
  height: auto;
  /* backdrop-filter: blur(10px); */
  background: #ffffff;
  border: 4px solid #000000;
  border-radius: 10px;
  padding: 2em;
}

.todo {
  display: flex;
  background: #ffffff;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 0.6em;
  box-shadow: 0 0 3px black;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 4ch;
}

button {
  margin-right: 5px;
  padding: 0.5em;
}

.input {
  width: 80%;
  padding: 0.5em;
  border-radius: 10px;
  border: 3px solid #242424;
  font-size: 1.2rem;
  outline: none;
}

.input:focus {
  border: 3px solid #7b01af;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
